$story-font-size: 1.5rem;
$marker-width: $story-font-size * 4;
$marker-gap: 0.5 * $story-font-size;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #444;
}

// Tags

.tags {
  padding: 0 12px;

  > ul {
    display: flex;
    padding: 0;
    list-style: none;

    > li > a {
      display: inline-block;
      padding: 6px;
      background: #ccc;
      margin: 4px;
      border: #bbb;
      text-decoration: none;
      color: #333;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.filtering {
  display: flex;
}

// Stories
$story-padding: 8px;

.story {
  margin: 24px;
  padding: $story-padding;
  border: 1px solid #bbb;
  background: #eee;
  display: block;
  max-width: 600px;
  margin: 20px auto;
}


.meta {
  display: flex;
  position: relative;
  top: -#{$story-padding};
  left: -#{$story-padding};
  width: calc(100% + #{$story-padding * 2});
  > * {
    padding: $story-padding;
  }

  .priority {
    flex-basis: calc(#{$marker-width} + #{$story-padding} + #{$marker-gap / 2});
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    background: #ccc;
  }
  .tags {
    flex-grow: 1;
    display: flex;
    background-color: #ddd;
    justify-content: space-around;
  }
}

.phrase {
  font-size: $story-font-size;
  margin: 0.25em 0;
  display: flex;

  > * {
    flex-grow: 1;

    &:first-child {
      text-align: right;
      flex-basis: $marker-width;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.5em;
    }
  }
}

.marker {
  color: #777;
}

.notes {
  margin-top: 24px;
  padding-left: $marker-width + $marker-gap;
}
